<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.mobilap.localnotification">

  <application>
    <!--
    Plugin metadata:
    - In the `android:name` attribute, the `org.godotengine.plugin.v1` prefix
    is required so Godot can recognize the project as a valid Godot
    Android plugin. The plugin name following the prefix should match the value
    of the plugin name returned by the plugin initializer.
    - The `android:value` attribute should be the classpath to the plugin
    initializer.
    -->
    <meta-data
        android:name="org.godotengine.plugin.v1.LocalNotification"
        android:value="ru.mobilap.localnotification.LocalNotification" />

    <receiver android:name="ru.mobilap.localnotification.LocalNotificationReceiver" android:process=":remote" />
  </application>
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
</manifest>
